#about{
    border: solid white;
    /* border-left: 5px solid rgb(255, 196, 166); */
}

#about-photo{
   border: solid white;
   border-radius: 3px;
}

#contact{
    border:  solid white;
}

#buttons-span{
    display: flex;
    justify-content: space-evenly;
}

.w3-button{
    border: solid 1px white;;
    border-radius: 3px;
}

.w3-sidebar{
    /* border-right: solid black; */
    background-color: rgb(251, 223, 198); 
    /* rgb(241, 223, 248);  */
     /* rgb(228, 204, 226); */
    /* rgb(233, 209, 193); */
    /* background-color: darkslategray; */
}

#contact{
    color: black;
    text-align: center;
}


